aside {
  position: relative;
  padding: $base-size;
  height: calc(100vh - 16px);
  width: 200px;
  left: -210px;
  background-color: $color-main-two;
  opacity: 0.3;
  transition: $transition-mid;
  transition-delay: $transition-delay;
  &::after {
    content: '';
    position: absolute;
    height: calc(100vh - 16px);
    width: 50px;
    top: 0;
    left: 210px;
    background-color: $color-main-two;
    opacity: 0.5;
    transition: $transition-mid;
    transition-delay: $transition-delay * 1.1;
  }
  &:hover {
    transform: translate(210px);
    opacity: 0.5;
    transition: $transition-mid;
    transition-delay: $transition-delay * 0.5;
    &::after {
      transform: translate(-70px);
      opacity: 0;
      transition: $transition-mid;
      transition-delay: $transition-delay * 0.5;
    }
  }
}

.users-container {
  position: relative;
  display: block;
  padding-bottom: $base-size;
  width: calc(100%);
  transition: $transition-fast;
  &:hover {  
    background-color: $color-main-one;
    opacity: 0.9;
    transition: $transition-fast;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $base-size $base-size * 1.5 $base-size $base-size;
    h3 {
      margin: 0;
      padding-left: $base-size * 0.5;
    }
  }
}

.users-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 $base-size;
  padding: 0;
  .user {
    position: relative;
    margin: $base-size * 0.5 0;
    padding: $base-size * 0.5;
    width: 100%;
    list-style: none;
    &:hover {
      background-color: $color-main-two;
      cursor: pointer;
      .user-data {
        height: 100px;
        transition: $transition-fast;
      }
    }
    .msg-button {
      position: relative;
      height: 100%;
      width: 100%;
      background-color: $color-main-one;
      transition: $transition-fast;
      &:hover {
        transform: scaleY(1.2);
        background-color: $color-white;
        cursor: pointer;   
        transition: $transition-fast;
      }
    }
  }
}

.user-data {
  position: relative;
  display: block;
  height: 5px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: $transition-fast;
  transition-delay: $transition-delay * 0.8;
  li:first-of-type {
    padding-top: $base-size * 0.5;
    border-top: 3px solid $color-main-one;
  }
  li {
    display: block;
    margin: $base-size 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }
}