body {
  padding: 10px;
  background: $color-black;
  font-family: $main-font;
}

main {
  height: 100vh;
  position: relative;
  background-image: url(https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.form-wrapper {
  position: relative;
  display: none;
  transition: 0.5s;
}