.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  top: calc(50vh - 150px);
  left: 0;
  right: 0;
  height: 300px;
  width: 400px;
  min-width: 0px;
  border-radius: 20px;
  opacity: 0.7;
  transition: $transition-mid;
  &:hover {
    opacity: 1;
    transition: $transition-mid;
    .login-icon {
      opacity: 1;
      cursor: pointer;
      transition: $transition-mid;
      &:hover {
        margin: 0 3px;
        border-radius: 10px;
        box-shadow: 0 2px 15px 2px $color-black;
        transition: $transition-fast;
      }
    }
  }
  .login-icon {
    position: absolute;
    border-radius: 10px;
    border: 3px solid transparent;
    opacity: 0;
    transition: $transition-mid;
    i {
      margin: $base-size;
      color: $color-white;
      font-size: $base-size * 4;
    }
  }
  .icon-right {
    bottom: -105px;
    left: 380px;
  }
  .icon-left {
    bottom: -80px;
    transform: rotate(180deg);
    right: 380px;
  }
  .input-wrapper {
    position: relative;
    display: block;
    margin: $base-size auto;
    height: 35px;
    width: 90%;
    transition: $transition-mid;
    &:focus-within {
      height: 82px;
      border-radius: 10px;
      box-shadow: 0 2px 15px 2px $color-black;
      transition: $transition-mid;
    }
    .input-text {
      position: relative;
      display: block;
      margin: $base-size auto;
      padding: $base-size * 0.5 0;
      width: 95%;
      top: 0;
      font-size: $base-size * 1.6;
      font-family: $main-font;
      text-align: center;
      transition: $transition-mid;
    }
    .input-text-label {
      position: relative;
      display: block;
      margin: $base-size * 0.5 auto;
      padding: $base-size * 0.5 0;
      height: 30px;
      width: 95%;
      top: -30px;
      text-align: center;
      border-bottom: 3px solid transparent;
      border-radius: 0 0 7px 7px;
      background-color: $color-white;
      opacity: 0;
      transition: $transition-mid;
    }
    .input-text:focus {
      outline: none;
      border: none;
      border-top: 2px solid dodgerblue;
      border-left: 2px solid dodgerblue;
      border-right: 2px solid dodgerblue;
      &::placeholder {
        color: transparent;
        transition: $transition-mid;
      }
      ~ label {
        top: -8px;
        color: $color-main-two;
        border-bottom: 2px solid dodgerblue;
        border-left: 2px solid dodgerblue;
        border-right: 2px solid dodgerblue;
        opacity: 1;
        transition: $transition-mid;
      }
    }
  }
}

.active {
  display: block;
  transition: $transition-mid;
}

//MEDIA 
@media (max-width: 576px) {
  .content {
    top: calc(50vh - 150px);
    height: 300px;
    width: 300px;
    .icon-right {
      bottom: -105px;
      left: 280px;
    }
    .icon-left {
      bottom: -80px;
      transform: rotate(180deg);
      right: 280px;
    }
  }
}

@media (max-width: 490px) {
  .content {
    top: calc(50vh - 150px);
    height: 300px;
    width: 200px;
    .icon-right {
      bottom: -105px;
      left: 170px;
      transform: scale(0.7);
    }
    .icon-left {
      bottom: -80px;
      transform: rotate(180deg) scale(0.7);
      right: 170px;
    }
    .input-wrapper {
      .input-text {
        font-size: $base-size * 1.4;
      }
    }
  }
}