$main-font: 'Montserrat Alternates', sans-serif;
$button-font: 'Tourney', cursive;

$color-black: black;
$color-white: white;
$color-main-one: silver;
$color-main-two: gray;

$base-size: 10px;

$transition-fastest: 0.1s;
$transition-fast: 0.3s;
$transition-mid: 0.5s;
$transition-slow: 1s;

$transition-delay: 1s;