.user-wrapper {
  position: relative;
  display: block;
  margin: $base-size auto;
  width: 90%;
  text-align: center;
  transition: $transition-mid;
}

.user-icon {
  font-size: $base-size * 12;
}

.user-name {
  .user-name-text {
    margin: 0;
    font-size: $base-size * 4;
  }
}

.user-email {
  .user-email-text {
    margin: 0 0 $base-size * 2;
  }
}

.active {
  display: block;
  transition: $transition-mid;
}